* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #fcdb00;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 55px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.top {
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}

.menu {
    width: 20px;
    height: 20px;
    margin: 25px 0 0 20px;
}

.emblem {
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.emblem-name {
    display: flex;
    margin-left: 100px;
}

ul.social-contacts li {
    display: inline;
    font-size: 22px;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

.name-site {
    font-size: 30px;
    line-height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #222222;
    margin-top: 15px;
    margin-left: 10px;
}

.social-contacts {
    list-style-type: none;
    margin-top: 20px;
}

.header-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 48px;
    font-weight: 18px;
    font-weight: bold;
    color: #222222;
}

.header-description {
    font-size: 20px;
    line-height: 24px;
    width: 480px;
    text-align: center;
    margin-bottom: 40px;
}

.start-button {
    width: 250px;
    height: 50px;
    background-color: #fcdb00;
    border: solid 2px #222222;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 180px;
}

.header-bottom {
    display: flex;
    justify-content: center;
}

.fa-long-arrow-alt-down {
    margin-bottom: 50px;
    font-size: 32px;
}