* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #fcdb00;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 55px;
}

.main {
    background-color: #ffffff;
}

a.social-links {
    color: #010101;
}


/* first block header*/

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}

.fa-bars {
    font-size: 22px;
    line-height: 20px;
    margin: 20px 0 0 20px;
}

.emblem {
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.emblem-name {
    display: flex;
    margin-left: 100px;
}

ul.social-contacts li {
    display: inline;
    font-size: 22px;
    margin-left: 15px;
    color: #222222;
}

.fa-facebook-f:hover {
    color: #3578E5;
}

.fa-twitter:hover {
    color: rgb(29, 161, 242);
}

.fa-google-plus-g:hover {
    color: orange;
}

.fa-pinterest:hover {
    color: #e60023;
}

.fa-linkedin-in:hover {
    color: #0077b5;
}

a {
    text-decoration: none;
}

.name-site {
    font-size: 30px;
    line-height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #222222;
    margin-top: 15px;
    margin-left: 10px;
}

.social-contacts {
    list-style-type: none;
    margin-top: 20px;
}

.header-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 48px;
    font-weight: 18px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 20px;
}

.header-description {
    font-size: 20px;
    line-height: 24px;
    width: 480px;
    text-align: center;
    margin-bottom: 40px;
}

.start-button {
    width: 250px;
    height: 50px;
    background-color: #fcdb00;
    border: solid 2px #222222;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 180px;
    cursor: pointer;
}

.start-button:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
    background-color: orange;
    color: white;
}

.header-bottom {
    display: flex;
    justify-content: center;
}

.fa-long-arrow-alt-down {
    margin-bottom: 50px;
    font-size: 32px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .header-top {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 50px;
    }
    .social-contacts {
        justify-content: center;
        margin: 0 auto;
    }
    .emblem-name {
        margin: -30px auto 100px auto;
    }
    .header-title {
        max-width: 80%;
        text-align: center;
    }
    .header-description {
        width: 80%;
    }
    .start-button {
        margin-bottom: 100px;
    }
}


/* second block (features) */

.title-features {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    line-height: 32px;
    color: #222222;
    width: 240px;
    font-weight: bold;
    padding-top: 115px;
    margin: 0 auto;
}

.paragraph-features {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #898989;
    margin-top: 25px;
    max-width: 80%;
    text-align: center;
    margin: 20px auto 90px auto;
}

.block-features {
    max-width: 200px;
    margin: 0 50px 70px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 50px;
}

.fa-tablet-alt,
.fa-lemon,
.fa-folder,
.fa-envelope {
    font-size: 50px;
    line-height: 52.47px;
    margin-right: 30px;
    font-weight: bold;
}

.fa-code {
    font-size: 40px;
    line-height: 52.47px;
    margin-right: 22px;
    font-weight: bold;
}

.fa-bookmark {
    font-size: 50px;
    line-height: 52.47px;
    margin-right: 40px;
    font-weight: bold;
}

.name-features {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
}

.description-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    width: 240px;
}

.features {
    align-items: center;
}

.description-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .block-features {
        margin: 0 30px 20px 20px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: 50px;
    }
    .description-features {
        justify-content: center;
    }
}


/* third block */

.works {
    margin-top: 50px;
}

.title-works {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    line-height: 32px;
    color: #222222;
    font-weight: 900;
    text-align: center;
}

.screen-work {
    margin-bottom: 10px;
}

.paragraph-works {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #898989;
    margin-top: 25px;
    text-align: center;
    max-width: 80%;
    margin: 20px auto 65px auto;
}

.screen-work {
    max-width: 220px;
    max-height: 220px;
    opacity: 1;
}

.screen-work:hover {
    cursor: pointer;
    border-radius: 70%;
    background-color: orange;
    opacity: 0.6;
}

.name-works {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 10px;
    text-align: center;
}

.top-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.bottom-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc-works {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    font-weight: 100;
    text-align: center;
    margin-bottom: 35px;
}

@media screen and (max-width: 860px) {
    .top-blocks {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .block-works {
        width: 45%;
    }
    .bottom-blocks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 559px) {
    .top-blocks {
        flex-direction: column;
    }
    .bottom-blocks {
        flex-direction: column;
        text-align: center;
    }
    .block-works {
        margin: 0 auto;
    }
    .screen-work {
        max-width: 100%;
        height: auto;
    }
}


/*fourth block team */

.section-team {
    margin-bottom: 170px;
}

.title-team {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    line-height: 32px;
    color: #222222;
    font-weight: 900;
    text-align: center;
    margin-top: 120px;
}

.paragraph-team {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #898989;
    margin-top: 25px;
    text-align: center;
    max-width: 80%;
    margin: 20px auto 65px auto;
}

.block-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-team {
    margin-top: 75px;
    margin-left: 40px;
    text-align: center;
    max-width: 165px;
    margin-right: 30px;
}

.member-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #010101;
    margin-top: 30px;
}

.role-team {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    margin-top: 10px;
}

.desc-team {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #686d74;
    margin-top: 15px;
}

.social-contacts-team {
    margin-top: 15px;
}

ul.social-contacts-team li {
    display: inline;
    font-size: 16px;
    margin-left: 15px;
    color: #222222;
}

@media screen and (max-width: 840px) {
    .block-team {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .photo-member {
        max-width: 100%;
        height: auto;
    }
}


/* footer contacts */

.footer {
    background-color: #010101;
}

.contacts {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 100;
    font-style: normal;
    padding: 40px 85px 100px 0;
}

.address {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 100;
    font-style: normal;
    max-width: 180px;
    margin-left: 15px;
}

ul.footer-list li {
    list-style-type: none;
}

a.footer-links {
    text-decoration: none;
    color: #ffffff;
}

.footer-links:hover {
    color: orange;
}

.footer-list {
    max-width: 20%;
}

.test-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media screen and (max-width: 705px)  {
    .test-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        max-width: 90%;
    }
    
    .contacts {
        padding: 0px;
    }
}